<!doctype html>
<html lang="zxx">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Links of CSS files -->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/flaticon.css">
        <link rel="stylesheet" href="assets/css/animate.min.css">
        <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
        <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
        <link rel="stylesheet" href="assets/css/boxicons.min.css">
        <link rel="stylesheet" href="assets/css/meanmenu.min.css">
        <link rel="stylesheet" href="assets/css/nice-select.min.css">
        <link rel="stylesheet" href="assets/css/fancybox.min.css">
        <link rel="stylesheet" href="assets/css/odometer.min.css">
        <link rel="stylesheet" href="assets/css/magnific-popup.min.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="assets/css/dark.css">
        <link rel="stylesheet" href="assets/css/responsive.css">

        <title>Dibiz - SEO Digital Marketing & IT Company HTML Template</title>

        <link rel="icon" type="image/png" href="assets/img/favicon.png">
    </head>
    <body>

        <!-- Start Navbar Area -->
        <div class="navbar-area navbar-color-white">
            <div class="dibiz-responsive-nav">
                <div class="container">
                    <div class="dibiz-responsive-menu">
                        <div class="logo">
                            <a href="index">
                                <img src="assets/img/white-logo.png" alt="logo">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="dibiz-nav">
                <div class="container">
                    <nav class="navbar navbar-expand-md navbar-light">
                        <a class="navbar-brand" href="index">
                            <img src="assets/img/white-logo.png" alt="logo">
                        </a>

                        <div class="collapse navbar-collapse mean-menu">
                           <ul class="navbar-nav">
                                <li class="nav-item"><a href="index" class="nav-link active">会社概要 <i class='bx bx-chevron-down'></i></a>
                                </li>

                                <li class="nav-item"><a href="about" class="nav-link">企業理念 <i class='bx bx-chevron-down'></i></a>
                                </li>

                                <li class="nav-item"><a href="service" class="nav-link">事業内容 <i class='bx bx-chevron-down'></i></a>
                                </li>

                                <li class="nav-item"><a href="pages" class="nav-link">社員と技術 <i class='bx bx-chevron-down'></i></a>
                                </li>

                                <li class="nav-item"><a href="portfolio" class="nav-link">採用情報 <i class='bx bx-chevron-down'></i></a>
                                </li>

                                <li class="nav-item"><a href="blog" class="nav-link">情報セキュリティ方針 <i class='bx bx-chevron-down'></i></a>
                                </li>

                                <li class="nav-item"><a href="contact" class="nav-link">アクセス</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <!-- End Navbar Area -->

        <!-- Sidebar Modal -->
        <div class="sidebarModal modal right fade" id="sidebarModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-bs-dismiss="modal"><i class='bx bx-x'></i></button>

                    <div class="modal-body">
                        <div class="logo">
                            <a href="index" class="d-inline-block"><img src="assets/img/logo.png" alt="image"></a>
                        </div>

                        <div class="instagram-list">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                                    <div class="box">
                                        <img src="assets/img/team/team-img1.jpg" alt="image">
                                        <i class='bx bxl-instagram'></i>
                                        <a  target="_blank" class="link-btn"></a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                                    <div class="box">
                                        <img src="assets/img/team/team-img2.jpg" alt="image">
                                        <i class='bx bxl-instagram'></i>
                                        <a  target="_blank" class="link-btn"></a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                                    <div class="box">
                                        <img src="assets/img/team/team-img3.jpg" alt="image">
                                        <i class='bx bxl-instagram'></i>
                                        <a  target="_blank" class="link-btn"></a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                                    <div class="box">
                                        <img src="assets/img/team/team-img4.jpg" alt="image">
                                        <i class='bx bxl-instagram'></i>
                                        <a  target="_blank" class="link-btn"></a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                                    <div class="box">
                                        <img src="assets/img/team/team-img5.jpg" alt="image">
                                        <i class='bx bxl-instagram'></i>
                                        <a  target="_blank" class="link-btn"></a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                                    <div class="box">
                                        <img src="assets/img/team/team-img6.jpg" alt="image">
                                        <i class='bx bxl-instagram'></i>
                                        <a  target="_blank" class="link-btn"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="sidebar-contact-info">
                            <h2>
                                <a href="tel:+11234567890">+1 (123) 456 7890</a>
                                <span>OR</span>
                                <a href="mailto:hello@dibiz.com">hello@dibiz.com</a>
                            </h2>
                        </div>

                        <ul class="social-list">
                            <li><span>Follow Us On:</span></li>
                            <li><a  target="_blank"><i class='bx bxl-facebook'></i></a></li>
                            <li><a  target="_blank"><i class='bx bxl-twitter'></i></a></li>
                            <li><a  target="_blank"><i class='bx bxl-youtube'></i></a></li>
                            <li><a  target="_blank"><i class='bx bxl-twitch'></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Sidebar Modal -->

        <!-- Search Overlay -->
        <div class="search-overlay">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="search-overlay-layer"></div>
                    <div class="search-overlay-layer"></div>
                    <div class="search-overlay-layer"></div>
                    
                    <div class="search-overlay-close">
                        <span class="search-overlay-close-line"></span>
                        <span class="search-overlay-close-line"></span>
                    </div>

                    <div class="search-overlay-form">
                        <form>
                            <input type="text" class="input-search" placeholder="Search here...">
                            <button type="submit"><i class="flaticon-search"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Search Overlay -->

        <!-- Start Page Title Area -->
        <section class="page-title-area">
            <div class="container">
                <div class="page-title-content">
                    <h1>企業理念</h1>
                </div>
            </div>

            <div class="shape2"><img src="assets/img/shape/shape2.png" alt="image"></div>
            <div class="shape3"><img src="assets/img/shape/shape3.png" alt="image"></div>
            <div class="shape5"><img src="assets/img/shape/shape5.png" alt="image"></div>
            <div class="shape6"><img src="assets/img/shape/shape6.png" alt="image"></div>
            <div class="shape7"><img src="assets/img/shape/shape7.png" alt="image"></div>
            <div class="shape8"><img src="assets/img/shape/shape8.png" alt="image"></div>
            <div class="lines">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </section>
        <!-- End Page Title Area -->

        <!-- Start About Area -->
        <section class="about-area ptb-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="about-image">
                            <img src="assets/img/about-img1.jpg" alt="image">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="about-content">
                            <div class="content">
                                <span class="sub-title">About Us</span>
                                <h2>Enjoy Full-Service Digital Marketing Expertise</h2>
                                <p>お客様と共にプロダクトのビジネス価値を創造し、真に必要な機能を共に考え
具体的な要件を導き出します。
培った高い技術力により、お客様に信頼できる
サービスを提供することを目指しています。</p>
                                <p>社員のモチベーションを上げ生産性向上を目指します。
社員の技術力を磨く
社員に思いやりを持たせる
理念や戦力への共感をアップする</p>
<p>お客様に大切な信頼と満足を頂けるようREの社員一丸となってさらに上を目指すと共に、より良い社会の実現のため社会貢献にも取り組んでまいります。</p>
                                <ul class="funfacts-list">
                                    <li>
                                        <div class="list">
                                            <i class="flaticon-menu-1"></i>
                                            <h3 class="odometer" data-count="376">00</h3>
                                            <p>Completed projects</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="list">
                                            <i class="flaticon-web-settings"></i>
                                            <h3 class="odometer" data-count="7548">00</h3>
                                            <p>Working hours were spent</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="list">
                                            <i class="flaticon-conversation"></i>
                                            <h3 class="odometer" data-count="350">00</h3>
                                            <p>Expert team members</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End About Area -->

        <!-- Start History Area -->
        <section class="history-area ptb-100 bg-f9f9f9">
            <div class="container">
                <div class="section-title">
                    <span class="sub-title">Our History</span>
                    <h2>History Begins In 2010</h2>
                </div>

                <ol class="timeline history-timeline">
                    <li class="timeline-block">
                        <div class="timeline-date">
                            <span>2010</span>
                            February 20
                            <sup>th</sup>
                        </div>

                        <div class="timeline-icon">
                            <span class="dot-badge"></span>
                        </div>

                        <div class="timeline-content">
                            <div class="row align-items-center">
                                <div class="col-lg-7 col-md-12">
                                    <div class="content">
                                        <h3>Founded</h3>
                                        <p>Real innovations and a positive customer experience are the heart of successful communication. Lorem ipsum dolor sit amet, sectetur adipiscing elit, tempor incididunt ut labore et dolore magna.</p>
                                    </div>
                                </div>

                                <div class="col-lg-5 col-md-12">
                                    <div class="image">
                                        <img src="assets/img/history/history-img1.jpg" alt="image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="timeline-block">
                        <div class="timeline-date">
                            <span>2013</span>
                            January 14
                            <sup>th</sup>
                        </div>

                        <div class="timeline-icon">
                            <span class="dot-badge"></span>
                        </div>

                        <div class="timeline-content">
                            <div class="row align-items-center">
                                <div class="col-lg-7 col-md-12">
                                    <div class="content">
                                        <h3>Global Success</h3>
                                        <p>Real innovations and a positive customer experience are the heart of successful communication. Lorem ipsum dolor sit amet, sectetur adipiscing elit, tempor incididunt ut labore et dolore magna.</p>
                                    </div>
                                </div>

                                <div class="col-lg-5 col-md-12">
                                    <div class="image">
                                        <img src="assets/img/history/history-img2.jpg" alt="image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="timeline-block">
                        <div class="timeline-date">
                            <span>2016</span>
                            March 25
                            <sup>th</sup>
                        </div>

                        <div class="timeline-icon">
                            <span class="dot-badge"></span>
                        </div>

                        <div class="timeline-content">
                            <div class="row align-items-center">
                                <div class="col-lg-7 col-md-12">
                                    <div class="content">
                                        <h3>Founded Data Office</h3>
                                        <p>Real innovations and a positive customer experience are the heart of successful communication. Lorem ipsum dolor sit amet, sectetur adipiscing elit, tempor incididunt ut labore et dolore magna.</p>
                                    </div>
                                </div>

                                <div class="col-lg-5 col-md-12">
                                    <div class="image">
                                        <img src="assets/img/history/history-img3.jpg" alt="image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="timeline-block">
                        <div class="timeline-date">
                            <span>2021</span>
                            December 10
                            <sup>th</sup>
                        </div>

                        <div class="timeline-icon">
                            <span class="dot-badge"></span>
                        </div>

                        <div class="timeline-content">
                            <div class="row align-items-center">
                                <div class="col-lg-7 col-md-12">
                                    <div class="content">
                                        <h3>International Award</h3>
                                        <p>Real innovations and a positive customer experience are the heart of successful communication. Lorem ipsum dolor sit amet, sectetur adipiscing elit, tempor incididunt ut labore et dolore magna.</p>
                                    </div>
                                </div>

                                <div class="col-lg-5 col-md-12">
                                    <div class="image">
                                        <img src="assets/img/history/history-img4.jpg" alt="image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ol>
            </div>
        </section>
        <!-- End History Area -->

        <!-- Start Team Area -->
        <section class="team-area ptb-100">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-team-box">
                            <img src="assets/img/team/team-img1.jpg" alt="team-image">

                            <div class="content">
                                <h3>James Anderson</h3>
                                <span>CEO</span>
                            </div>

                            <ul class="social-link">
                                <li><a  class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                                <li><a  class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                                <li><a  class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                                <li><a  class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-team-box">
                            <img src="assets/img/team/team-img2.jpg" alt="team-image">

                            <div class="content">
                                <h3>Sarah Taylor</h3>
                                <span>Marketing Lead</span>
                            </div>

                            <ul class="social-link">
                                <li><a  class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                                <li><a  class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                                <li><a  class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                                <li><a  class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="section-title">
                            <span class="sub-title">Our Team</span>
                            <h2>We Help to Acheive Your Business Goal</h2>
                            <a href="team-1.html" class="learn-more-btn"><i class="left-icon flaticon-next-button"></i> View All <i class="right-icon flaticon-next-button"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-team-box">
                            <img src="assets/img/team/team-img3.jpg" alt="team-image">

                            <div class="content">
                                <h3>Taylor Sopia</h3>
                                <span>Web Designer</span>
                            </div>

                            <ul class="social-link">
                                <li><a  class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                                <li><a  class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                                <li><a  class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                                <li><a  class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-team-box">
                            <img src="assets/img/team/team-img4.jpg" alt="team-image">

                            <div class="content">
                                <h3>Harry Steve</h3>
                                <span>Web Developer</span>
                            </div>

                            <ul class="social-link">
                                <li><a  class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                                <li><a  class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                                <li><a  class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                                <li><a  class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-team-box">
                            <img src="assets/img/team/team-img5.jpg" alt="team-image">

                            <div class="content">
                                <h3>Alina Smith</h3>
                                <span>Advisor</span>
                            </div>

                            <ul class="social-link">
                                <li><a  class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                                <li><a  class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                                <li><a  class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                                <li><a  class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-team-box">
                            <img src="assets/img/team/team-img6.jpg" alt="team-image">

                            <div class="content">
                                <h3>David Warner</h3>
                                <span>Support</span>
                            </div>

                            <ul class="social-link">
                                <li><a  class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                                <li><a  class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                                <li><a  class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                                <li><a  class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Team Area -->

        <!-- Start Partner Area -->
        <section class="partner-area bg-f9f9f9 ptb-70">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-6 col-sm-4 col-md-4">
                        <div class="single-partner-item">
                            <img src="assets/img/partner/partner-img6.png" alt="image">
                        </div>
                    </div>

                    <div class="col-lg-2 col-6 col-sm-4 col-md-4">
                        <div class="single-partner-item">
                            <img src="assets/img/partner/partner-img2.png" alt="image">
                        </div>
                    </div>

                    <div class="col-lg-2 col-6 col-sm-4 col-md-4">
                        <div class="single-partner-item">
                            <img src="assets/img/partner/partner-img3.png" alt="image">
                        </div>
                    </div>

                    <div class="col-lg-2 col-6 col-sm-4 col-md-4">
                        <div class="single-partner-item">
                            <img src="assets/img/partner/partner-img4.png" alt="image">
                        </div>
                    </div>

                    <div class="col-lg-2 col-6 col-sm-4 col-md-4">
                        <div class="single-partner-item">
                            <img src="assets/img/partner/partner-img1.png" alt="image">
                        </div>
                    </div>

                    <div class="col-lg-2 col-6 col-sm-4 col-md-4">
                        <div class="single-partner-item">
                            <img src="assets/img/partner/partner-img5.png" alt="image">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Partner Area -->

        <!-- Start Testimonials Area -->
        <section class="testimonials-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-7 col-md-12">
                        <div class="testimonials-content">
                            <span class="sub-title">Testimonials</span>
                            <h2>What Our Clients Are Saying?</h2>

                            <div class="testimonials-slides owl-carousel owl-theme">
                                <div class="single-testimonials-item">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>

                                    <div class="client-info">
                                        <div class="d-flex align-items-center">
                                            <img src="assets/img/user1.jpg" alt="image">
                                            <div class="title">
                                                <h3>John Smith</h3>
                                                <span>Python Developer</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="single-testimonials-item">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>

                                    <div class="client-info">
                                        <div class="d-flex align-items-center">
                                            <img src="assets/img/user2.jpg" alt="image">
                                            <div class="title">
                                                <h3>Sarah Taylor</h3>
                                                <span>Web Developer</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="single-testimonials-item">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>

                                    <div class="client-info">
                                        <div class="d-flex align-items-center">
                                            <img src="assets/img/user3.jpg" alt="image">
                                            <div class="title">
                                                <h3>James Anderson</h3>
                                                <span>Web Designer</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-5 col-md-12">
                        <div class="testimonials-image">
                            <img src="assets/img/testimonials-img.jpg" alt="image">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Testimonials Area -->

        <!-- Start Footer Area -->
        <footer class="footer-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <a href="index" class="logo">
                                <img src="assets/img/white-logo.png" alt="logo">
                            </a>
                            <p>お客様と共にプロダクトのビジネス価値を創造し、真に必要な機能を共に考え
具体的な要件を導き出します。
培った高い技術力により、お客様に信頼できる
サービスを提供することを目指しています。</p>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="single-footer-widget pl-5">
                            <h3>Explore</h3>
                            <ul class="footer-links-list">
                                <li><a href="index">Home</a></li>
                                <li><a href="about">About</a></li>
                                <li><a href="pricing">Pricing</a></li>
                                <li><a href="portfolio">Portfolio</a></li>
                                <li><a href="contact">Contact</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="single-footer-widget pl-2">
                            <h3>Resources</h3>
                            <ul class="footer-links-list">
                                <li><a href="contact">Contact</a></li>
                                <li><a href="services">Services</a></li>
                                <li><a href="blog">Blog</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h3>アクセス</h3>
                            <ul class="footer-contact-info">
                                <li><i class='bx bx-map'></i>东京都豊岛区南池袋2-8-5ライオンズマンション南池袋304</li>
                                <li><i class='bx bx-phone-call'></i><a href="tel:+03-6915-2313">03-6915-2313</a></li>
                                <li><i class='bx bx-envelope'></i><a href="shijiali@rei-rei.jp">shijiali@rei-rei.jp</a></li>
                                <li><i class='bx bxs-inbox'></i><a href="tel:090-1252-0400">090-1252-0400</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
        </footer>
        <!-- End Footer Area -->

        <div class="go-top"><i class='bx bx-up-arrow-alt'></i></div>

        <!-- Links of JS files -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/bootstrap.bundle.min.js"></script>
        <script src="assets/js/appear.min.js"></script>
        <script src="assets/js/odometer.min.js"></script>
        <script src="assets/js/magnific-popup.min.js"></script>
        <script src="assets/js/fancybox.min.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <script src="assets/js/meanmenu.min.js"></script>
        <script src="assets/js/nice-select.min.js"></script>
        <script src="assets/js/sticky-sidebar.min.js"></script>
        <script src="assets/js/wow.min.js"></script>
        <script src="assets/js/form-validator.min.js"></script>
        <script src="assets/js/contact-form-script.js"></script>
        <script src="assets/js/ajaxchimp.min.js"></script>
        <script src="assets/js/main.js"></script>
    </body>
</html>