<!doctype html>
<html lang="zxx">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Links of CSS files -->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/flaticon.css">
        <link rel="stylesheet" href="assets/css/animate.min.css">
        <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
        <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
        <link rel="stylesheet" href="assets/css/boxicons.min.css">
        <link rel="stylesheet" href="assets/css/meanmenu.min.css">
        <link rel="stylesheet" href="assets/css/nice-select.min.css">
        <link rel="stylesheet" href="assets/css/fancybox.min.css">
        <link rel="stylesheet" href="assets/css/odometer.min.css">
        <link rel="stylesheet" href="assets/css/magnific-popup.min.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="assets/css/dark.css">
        <link rel="stylesheet" href="assets/css/responsive.css">

        <title>Dibiz - SEO Digital Marketing & IT Company HTML Template</title>

        <link rel="icon" type="image/png" href="assets/img/favicon.png">
    </head>
    <body class="data-science-color-css">

        <!-- Start Navbar Area -->
        <div class="navbar-area navbar-area-with-data-science with-relative">
            <div class="dibiz-responsive-nav">
                <div class="container-fluid">
                    <div class="dibiz-responsive-menu">
                        <div class="logo">
                            <a href="index.html">
                                <img src="assets/img/logo.png" class="main-logo" alt="logo">
                                <img src="assets/img/white-logo.png" class="white-logo" alt="logo">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="dibiz-nav">
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-md navbar-light">
                        <a class="navbar-brand" href="index.html">
                            <img src="assets/img/logo.png" class="main-logo" alt="logo">
                            <img src="assets/img/white-logo.png" class="white-logo" alt="logo">
                        </a>

                        <div class="collapse navbar-collapse mean-menu">
                            <ul class="navbar-nav">
                                <li class="nav-item"><a href="#" class="nav-link">Home <i class='bx bx-chevron-down'></i></a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a href="index.html" class="nav-link">Home Demo - 1</a></li>

                                        <li class="nav-item"><a href="index-2.html" class="nav-link">Home Demo - 2</a></li>

                                        <li class="nav-item"><a href="index-3.html" class="nav-link">Home Demo - 3</a></li>

                                        <li class="nav-item"><a href="index-4.html" class="nav-link">Home Demo - 4</a></li>

                                        <li class="nav-item"><a href="index-5.html" class="nav-link">Home Demo - 5</a></li>

                                        <li class="nav-item"><a href="index-6.html" class="nav-link">Home Demo - 6</a></li>

                                        <li class="nav-item"><a href="index-7.html" class="nav-link">Home Demo - 7</a></li>

                                        <li class="nav-item"><a href="index-8.html" class="nav-link">Home Demo - 8</a></li>

                                        <li class="nav-item"><a href="index-9.html" class="nav-link">Home Demo - 9</a></li>

                                        <li class="nav-item"><a href="index-10.html" class="nav-link">Home Demo - 10</a></li>

                                        <li class="nav-item"><a href="index-11.html" class="nav-link">Home Demo - 11</a></li>

                                        <li class="nav-item"><a href="index-12.html" class="nav-link">Home Demo - 12</a></li>
                                    </ul>
                                </li>

                                <li class="nav-item"><a href="#" class="nav-link">About <i class='bx bx-chevron-down'></i></a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a href="about-us-1.html" class="nav-link">About Us 1</a></li>

                                        <li class="nav-item"><a href="about-us-2.html" class="nav-link">About Us 2</a></li>

                                        <li class="nav-item"><a href="about-us-3.html" class="nav-link">About Us 3</a></li>

                                        <li class="nav-item"><a href="about-us-4.html" class="nav-link">About Us 4</a></li>

                                        <li class="nav-item"><a href="#" class="nav-link">Team <i class='bx bx-chevron-right'></i></a>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item"><a href="team-1.html" class="nav-link">Team 1</a></li>
                
                                                <li class="nav-item"><a href="team-2.html" class="nav-link">Team 2</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item"><a href="#" class="nav-link">Services <i class='bx bx-chevron-down'></i></a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a href="services-1.html" class="nav-link">Services One</a></li>

                                        <li class="nav-item"><a href="services-2.html" class="nav-link">Services Two</a></li>

                                        <li class="nav-item"><a href="services-3.html" class="nav-link">Services Three</a></li>

                                        <li class="nav-item"><a href="services-4.html" class="nav-link">Services Four</a></li>

                                        <li class="nav-item"><a href="services-5.html" class="nav-link">Services Five</a></li>

                                        <li class="nav-item"><a href="single-services.html" class="nav-link">Services Details</a></li>

                                        <li class="nav-item"><a href="single-services-2.html" class="nav-link">Services Details Two</a></li>

                                        <li class="nav-item"><a href="single-services-3.html" class="nav-link">Services Details Three</a></li>
                                    </ul>
                                </li>

                                <li class="nav-item"><a href="#" class="nav-link">Pages <i class='bx bx-chevron-down'></i></a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a href="pricing.html" class="nav-link">Pricing</a></li>

                                        <li class="nav-item"><a href="gallery.html" class="nav-link">Gallery</a></li>

                                        <li class="nav-item"><a href="#" class="nav-link">Shop <i class='bx bx-chevron-right'></i></a>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item"><a href="products-list.html" class="nav-link">Products List</a></li>
                
                                                <li class="nav-item"><a href="cart.html" class="nav-link">Cart</a></li>
        
                                                <li class="nav-item"><a href="checkout.html" class="nav-link">Checkout</a></li>
        
                                                <li class="nav-item"><a href="single-products.html" class="nav-link">Products Details</a></li>
                                            </ul>
                                        </li>

                                        <li class="nav-item"><a href="faq.html" class="nav-link">FAQ</a></li>

                                        <li class="nav-item"><a href="error-404.html" class="nav-link">404 Error</a></li>

                                        <li class="nav-item"><a href="coming-soon.html" class="nav-link">Coming Soon</a></li>
                                        
                                        <li class="nav-item"><a href="profile-authentication.html" class="nav-link">Login/Register</a></li>
        
                                        <li class="nav-item"><a href="privacy-policy.html" class="nav-link">Privacy Policy</a></li>
        
                                        <li class="nav-item"><a href="terms-of-service.html" class="nav-link">Terms of Service</a></li>

                                        <li class="nav-item"><a href="contact-2.html" class="nav-link">Contact Style Two</a></li>

                                        <li class="nav-item"><a href="contact-3.html" class="nav-link">Contact Style Three</a></li>
                                    </ul>
                                </li>

                                <li class="nav-item"><a href="#" class="nav-link">Portfolio <i class='bx bx-chevron-down'></i></a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a href="#" class="nav-link">Portfolio Style One <i class='bx bx-chevron-right'></i></a>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item"><a href="portfolio-1.html" class="nav-link">Portfolio 2 Columns</a></li>

                                                <li class="nav-item"><a href="portfolio-2.html" class="nav-link">Portfolio 3 Columns</a></li>

                                                <li class="nav-item"><a href="portfolio-3.html" class="nav-link">Portfolio No Space</a></li>
                                            </ul>
                                        </li>

                                        <li class="nav-item"><a href="#" class="nav-link">Portfolio Style Two <i class='bx bx-chevron-right'></i></a>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item"><a href="portfolio-4.html" class="nav-link">Portfolio 2 Columns</a></li>

                                                <li class="nav-item"><a href="portfolio-5.html" class="nav-link">Portfolio 3 Columns</a></li>

                                                <li class="nav-item"><a href="portfolio-6.html" class="nav-link">Portfolio No Space</a></li>
                                            </ul>
                                        </li>

                                        <li class="nav-item"><a href="single-portfolio.html" class="nav-link">Portfolio Details</a></li>

                                        <li class="nav-item"><a href="case-studies.html" class="nav-link">Case Studies</a></li>

                                        <li class="nav-item"><a href="case-studies-details.html" class="nav-link">Case Studies Details</a></li>

                                        <li class="nav-item"><a href="projects.html" class="nav-link">Projects</a></li>

                                        <li class="nav-item"><a href="projects-details.html" class="nav-link">Projects Details</a></li>
                                    </ul>
                                </li>

                                <li class="nav-item"><a href="#" class="nav-link active">Blog <i class='bx bx-chevron-down'></i></a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a href="blog-1.html" class="nav-link">Grid (2 in Row)</a></li>

                                        <li class="nav-item"><a href="blog-2.html" class="nav-link">Grid (3 in Row)</a></li>

                                        <li class="nav-item"><a href="blog-3.html" class="nav-link">Grid (Full Width)</a></li>

                                        <li class="nav-item"><a href="blog-4.html" class="nav-link">Right Sidebar</a></li>

                                        <li class="nav-item"><a href="blog-5.html" class="nav-link">Left Sidebar</a></li>

                                        <li class="nav-item"><a href="blog-style-2.html" class="nav-link">Blog Style Two</a></li>

                                        <li class="nav-item"><a href="blog-style-3.html" class="nav-link">Blog Style Three</a></li>

                                        <li class="nav-item"><a href="#" class="nav-link">Single Post <i class='bx bx-chevron-right'></i></a>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item"><a href="single-blog-1.html" class="nav-link">Default</a></li>
                                                
                                                <li class="nav-item"><a href="single-blog-2.html" class="nav-link">With Video</a></li>
                                                
                                                <li class="nav-item"><a href="single-blog-3.html" class="nav-link">With Image Slider</a></li>

                                                <li class="nav-item"><a href="blog-details-2.html" class="nav-link">Blog Details Two</a></li>

                                                <li class="nav-item"><a href="blog-details-3.html" class="nav-link active">Blog Details Three</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
                            </ul>

                            <div class="others-option d-flex align-items-center">
                                <div class="option-item">
                                    <form class="search-box">
                                        <input type="text" class="input-search" placeholder="Search here..">
                                        <button type="submit">
                                            <i class='bx bx-search'></i>
                                        </button>
                                    </form>
                                </div>
                                <div class="option-item">
                                    <a href="#" class="default-btn">Get a quote <i class='flaticon-chevron'></i></a>
                                </div>
                                <div class="option-item">
                                    <div class="switch-box">
                                        <label id="switch" class="switch">
                                            <input type="checkbox" onchange="toggleTheme()" id="slider">
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>

            <div class="others-option-for-responsive">
                <div class="container">
                    <div class="dot-menu">
                        <div class="inner">
                            <div class="circle circle-one"></div>
                            <div class="circle circle-two"></div>
                            <div class="circle circle-three"></div>
                        </div>
                    </div>
                    
                    <div class="container">
                        <div class="option-inner">
                            <div class="others-option d-flex align-items-center">
                                <div class="option-item">
                                    <form class="search-box">
                                        <input type="text" class="input-search" placeholder="Search here..">
                                        <button type="submit">
                                            <i class='bx bx-search'></i>
                                        </button>
                                    </form>
                                </div>
                                <div class="option-item">
                                    <a href="#" class="default-btn">Get a quote <i class='flaticon-chevron'></i></a>
                                </div>
                                <div class="option-item">
                                    <div class="switch-box">
                                        <label id="switch" class="switch">
                                            <input type="checkbox" onchange="toggleTheme()" id="slider">
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Navbar Area -->
        
        <!-- Start Page Banner Area -->
        <section class="ds-page-banner-area">
            <div class="container">
                <div class="ds-page-banner-content">
                    <h1>Blog details</h1>
                    <ul class="list">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>/</li>
                        <li>Blog details</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- End Page Banner Area -->
        
        <!-- Start Blog Area -->
        <div class="ds-blog-area pt-100 pb-100">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-md-12">
                        <div class="ds-blog-details-desc">
                            <div class="blog-details-image">
                                <img src="assets/img/data-science/blog-details.jpg" alt="image">

                                <div class="date">
                                    <b>12</b>
                                    <span>May</span>
                                </div>
                            </div>
                            <div class="blog-details-content">
                                <ul class="entry-meta">
                                    <li><i class='bx bx-user'></i> By <a href="#">admin</a></li>
                                    <li>/</li>
                                    <li><i class='bx bx-message-rounded-dots'></i> No comment</li>
                                </ul>
                                <h3>Making peace with the feast or famine of freelancing</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt labore et dolore magna aliqua ut enim ad minim veniam quis nostrud exercitation ullamc laboris nisi ut aliquip commodo consequat duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur commodo lorem ipsum dolor sit amet consectetur adipisicing elit voluptatem  necessitatibus dolor placeat fuga deleniti doloremque? Ratione officia quia aliquam possimus.</p>
                                <p>Excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt mollit anim id est laborum sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium sed doloremque laudantium totam rem aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                                <div class="quote-block">
                                    <div class="content">
                                        <img src="assets/img/data-science/blog-quote.svg" alt="img">
                                        <p>“ Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporincididunt ut labore dolore magna aliqua.“</p>
                                    </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt labore et dolore magna aliqua ut enim ad minim veniam quis nostrud exercitation ullamc laboris nisi ut aliquip commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur commodo.</p>
                                <p>Excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt mollit anim id est laborum sed ut perspici unde omnis iste natus error sit voluptatem accusantium sed doloremque laudantium.</p>
                                <div class="tag-and-share-content d-flex justify-content-between align-items-center">
                                    <ul class="tag-list">
                                        <li>
                                            <span><i class='bx bxs-purchase-tag'></i></span>
                                        </li>
                                        <li><a href="#">IT services,</a></li>
                                        <li><a href="#">Cyber,</a></li>
                                        <li><a href="#">UX/UI</a></li>
                                    </ul>
                                    <ul class="share-list">
                                        <li>
                                            <span>Share:</span>
                                        </li>
                                        <li><a href="#" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                                        <li><a href="#" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                                        <li><a href="#" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="blog-leave-form">
                                <h3>Leave A Reply</h3>
                                <p>Your email address will not be published.</p>

                                <form>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Your name">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <input type="email" class="form-control" placeholder="Your email">
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <textarea name="message" class="form-control" id="message" rows="6" placeholder="Comment here..." spellcheck="false" autocomplete="off"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <button type="submit" class="default-btn">Post A Comment</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12">
                        <div class="data-services-sidebar-area">
                            <div class="sidebar sidebar_search">
                                <form class="search-form">
                                    <input type="search" class="search-field" placeholder="Search...">
                                    <button type="submit"><i class='bx bx-search-alt'></i></button>
                                </form>
                            </div>

                            <div class="sidebar sidebar_popular_post">
                                <h3 class="sidebar-title">Popular Post</h3>
                                
                                <article class="item">
                                    <a href="#" class="thumb">
                                        <img src="assets/img/data-science/blog/blog1.jpg" alt="blog-image">
                                    </a>
                                    <div class="info">
                                        <span class="date">12 May 2022</span>
                                        <h4 class="title">
                                            <a href="#">Making peace with the feast or famine of freelancing</a>
                                        </h4>
                                    </div>
                                </article>
                                <article class="item">
                                    <a href="#" class="thumb">
                                        <img src="assets/img/data-science/blog/blog2.jpg" alt="blog-image">
                                    </a>
                                    <div class="info">
                                        <span class="date">13 May 2022</span>
                                        <h4 class="title">
                                            <a href="#">Instagram feed add to your WordPress site</a>
                                        </h4>
                                    </div>
                                </article>
                                <article class="item">
                                    <a href="#" class="thumb">
                                        <img src="assets/img/data-science/blog/blog3.jpg" alt="blog-image">
                                    </a>
                                    <div class="info">
                                        <span class="date">14 May 2022</span>
                                        <h4 class="title">
                                            <a href="#">I used the web for a day on a 50 mb budget</a>
                                        </h4>
                                    </div>
                                </article>
                            </div>

                            <div class="sidebar sidebar_categories">
                                <h3 class="sidebar-title">Categories</h3>
                                
                                <ul class="categories-list">
                                    <li><a href="#"><i class='bx bx-chevron-right'></i> Business</a></li>
                                    <li><a href="#"><i class='bx bx-chevron-right'></i> Privacy</a></li>
                                    <li><a href="#"><i class='bx bx-chevron-right'></i> Technology</a></li>
                                    <li><a href="#"><i class='bx bx-chevron-right'></i> Tips</a></li>
                                    <li><a href="#"><i class='bx bx-chevron-right'></i> Uncategorized</a></li>
                                </ul>
                            </div>
                            
                            <div class="sidebar sidebar_tags">
                                <h3 class="sidebar-title">Tags</h3>
                                
                                <div class="tags">
                                    <a href="#">Professional</a>
                                    <a href="#">Flexible</a>
                                    <a href="#">Trusted</a>
                                    <a href="#">Experienced</a>
                                    <a href="#">Benefits</a>
                                    <a href="#">Digital</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Blog Area -->
        
        <!-- Start Subscribe Area -->
        <div class="ds-subscribe-area">
            <div class="container">
                <div class="ds-subscribe-inner-box ptb-100">
                    <div class="ds-subscribe-content">
                        <span class="sub-title">Subscribe our newsletter</span>
                        <h2>Get latest update and news first</h2>
                        
                        <form class="newsletter-form" data-bs-toggle="validator">
                            <input type="text" class="input-newsletter" placeholder="Enter your email" name="EMAIL" required autocomplete="off">
                            <button type="submit" class="default-btn">Subscribe</button>
                            <div id="validator-newsletter" class="form-result"></div>
                        </form>
                    </div>
                    <div class="subscribe-shape">
                        <img src="assets/img/data-science/subscribe-shape.png" alt="image">
                    </div>
                </div>
            </div>
        </div>
        <!-- End Subscribe Area -->

        <!-- Start Footer Area -->
        <footer class="footer-area ds-footer-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <a href="index.html" class="logo">
                                <img src="assets/img/white-logo.png" alt="logo">
                            </a>
                            <p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit eiusmod tempor incididunt labore dolore magna aliqua consec elite sed do labor.</p>
                            <ul class="social-link">
                                <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                                <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                                <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                                <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="single-footer-widget ps-5">
                            <h3>Links</h3>

                            <ul class="footer-links-list">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About us</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Projects</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="single-footer-widget ps-5">
                            <h3>Services</h3>

                            <ul class="footer-links-list">
                                <li><a href="#">Our pricing</a></li>
                                <li><a href="#">Team members</a></li>
                                <li><a href="#">Deep learning</a></li>
                                <li><a href="#">Data visualization</a></li>
                                <li><a href="#">Data analytics</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="single-footer-widget ps-5">
                            <h3>Support</h3>

                            <ul class="footer-links-list">
                                <li><a href="#">Privacy policy</a></li>
                                <li><a href="#">Terms & uses</a></li>
                                <li><a href="#">Support center</a></li>
                                <li><a href="#">Community</a></li>
                                <li><a href="#">FAQ</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget ps-5">
                            <h3>Official info</h3>

                            <ul class="footer-contact-info">
                                <li>
                                    <i class='bx bx-map'></i>
                                    <span>Location:</span>
                                    2976 sunrise road las vegas
                                </li>
                                <li>
                                    <i class='bx bx-envelope'></i>
                                    <span>Email:</span>
                                    <a href="mailto:hello@dibiz.com">hello@dibiz.com</a>
                                </li>
                                <li>
                                    <i class='bx bxs-phone'></i>
                                    <span>Phone:</span>
                                    <a href="tell:098765432150">098765432150</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-bottom-area">
                <p>All right reserved design by <a href="https://envytheme.com/" target="_blank">EnvyTheme.com</a></p>
            </div>
        </footer>
        <!-- End Footer Area -->

        <div class="go-top"><i class='bx bx-up-arrow-alt'></i></div>

        <!-- Links of JS files -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/bootstrap.bundle.min.js"></script>
        <script src="assets/js/appear.min.js"></script>
        <script src="assets/js/odometer.min.js"></script>
        <script src="assets/js/magnific-popup.min.js"></script>
        <script src="assets/js/fancybox.min.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <script src="assets/js/meanmenu.min.js"></script>
        <script src="assets/js/nice-select.min.js"></script>
        <script src="assets/js/sticky-sidebar.min.js"></script>
        <script src="assets/js/wow.min.js"></script>
        <script src="assets/js/form-validator.min.js"></script>
        <script src="assets/js/contact-form-script.js"></script>
        <script src="assets/js/ajaxchimp.min.js"></script>
        <script src="assets/js/main.js"></script>
    </body>
</html>