<!doctype html>
<html lang="zxx">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Links of CSS files -->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/flaticon.css">
        <link rel="stylesheet" href="assets/css/animate.min.css">
        <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
        <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
        <link rel="stylesheet" href="assets/css/boxicons.min.css">
        <link rel="stylesheet" href="assets/css/meanmenu.min.css">
        <link rel="stylesheet" href="assets/css/nice-select.min.css">
        <link rel="stylesheet" href="assets/css/fancybox.min.css">
        <link rel="stylesheet" href="assets/css/odometer.min.css">
        <link rel="stylesheet" href="assets/css/magnific-popup.min.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="assets/css/dark.css">
        <link rel="stylesheet" href="assets/css/responsive.css">

        <title>Dibiz - SEO Digital Marketing & IT Company HTML Template</title>

        <link rel="icon" type="image/png" href="assets/img/favicon.png">
    </head>
    <body class="startup-it-agency-color-css">

        <!-- Start Navbar Area -->
        <div class="navbar-area navbar-area-with-startup-it-agency">
            <div class="dibiz-responsive-nav">
                <div class="container-fluid">
                    <div class="dibiz-responsive-menu">
                        <div class="logo">
                            <a href="index.html">
                                <img src="assets/img/logo.png" class="main-logo" alt="logo">
                                <img src="assets/img/white-logo.png" class="white-logo" alt="logo">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="dibiz-nav">
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-md navbar-light">
                        <a class="navbar-brand" href="index.html">
                            <img src="assets/img/logo.png" class="main-logo" alt="logo">
                            <img src="assets/img/white-logo.png" class="white-logo" alt="logo">
                        </a>

                        <div class="collapse navbar-collapse mean-menu">
                            <ul class="navbar-nav">
                                <li class="nav-item"><a href="#" class="nav-link">Home <i class='bx bx-chevron-down'></i></a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a href="index.html" class="nav-link">Home Demo - 1</a></li>

                                        <li class="nav-item"><a href="index-2.html" class="nav-link">Home Demo - 2</a></li>

                                        <li class="nav-item"><a href="index-3.html" class="nav-link">Home Demo - 3</a></li>

                                        <li class="nav-item"><a href="index-4.html" class="nav-link">Home Demo - 4</a></li>

                                        <li class="nav-item"><a href="index-5.html" class="nav-link">Home Demo - 5</a></li>

                                        <li class="nav-item"><a href="index-6.html" class="nav-link">Home Demo - 6</a></li>

                                        <li class="nav-item"><a href="index-7.html" class="nav-link">Home Demo - 7</a></li>

                                        <li class="nav-item"><a href="index-8.html" class="nav-link">Home Demo - 8</a></li>

                                        <li class="nav-item"><a href="index-9.html" class="nav-link">Home Demo - 9</a></li>

                                        <li class="nav-item"><a href="index-10.html" class="nav-link">Home Demo - 10</a></li>

                                        <li class="nav-item"><a href="index-11.html" class="nav-link">Home Demo - 11</a></li>

                                        <li class="nav-item"><a href="index-12.html" class="nav-link">Home Demo - 12</a></li>
                                    </ul>
                                </li>

                                <li class="nav-item"><a href="#" class="nav-link">About <i class='bx bx-chevron-down'></i></a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a href="about-us-1.html" class="nav-link">About Us 1</a></li>

                                        <li class="nav-item"><a href="about-us-2.html" class="nav-link">About Us 2</a></li>

                                        <li class="nav-item"><a href="about-us-3.html" class="nav-link">About Us 3</a></li>

                                        <li class="nav-item"><a href="about-us-4.html" class="nav-link">About Us 4</a></li>

                                        <li class="nav-item"><a href="#" class="nav-link">Team <i class='bx bx-chevron-right'></i></a>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item"><a href="team-1.html" class="nav-link">Team 1</a></li>
                
                                                <li class="nav-item"><a href="team-2.html" class="nav-link">Team 2</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item"><a href="#" class="nav-link">Services <i class='bx bx-chevron-down'></i></a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a href="services-1.html" class="nav-link">Services One</a></li>

                                        <li class="nav-item"><a href="services-2.html" class="nav-link">Services Two</a></li>

                                        <li class="nav-item"><a href="services-3.html" class="nav-link">Services Three</a></li>

                                        <li class="nav-item"><a href="services-4.html" class="nav-link">Services Four</a></li>

                                        <li class="nav-item"><a href="services-5.html" class="nav-link">Services Five</a></li>

                                        <li class="nav-item"><a href="single-services.html" class="nav-link">Services Details</a></li>

                                        <li class="nav-item"><a href="single-services-2.html" class="nav-link">Services Details Two</a></li>

                                        <li class="nav-item"><a href="single-services-3.html" class="nav-link">Services Details Three</a></li>
                                    </ul>
                                </li>

                                <li class="nav-item"><a href="#" class="nav-link">Pages <i class='bx bx-chevron-down'></i></a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a href="pricing.html" class="nav-link">Pricing</a></li>

                                        <li class="nav-item"><a href="gallery.html" class="nav-link">Gallery</a></li>

                                        <li class="nav-item"><a href="#" class="nav-link">Shop <i class='bx bx-chevron-right'></i></a>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item"><a href="products-list.html" class="nav-link">Products List</a></li>
                
                                                <li class="nav-item"><a href="cart.html" class="nav-link">Cart</a></li>
        
                                                <li class="nav-item"><a href="checkout.html" class="nav-link">Checkout</a></li>
        
                                                <li class="nav-item"><a href="single-products.html" class="nav-link">Products Details</a></li>
                                            </ul>
                                        </li>

                                        <li class="nav-item"><a href="faq.html" class="nav-link">FAQ</a></li>

                                        <li class="nav-item"><a href="error-404.html" class="nav-link">404 Error</a></li>

                                        <li class="nav-item"><a href="coming-soon.html" class="nav-link">Coming Soon</a></li>
                                        
                                        <li class="nav-item"><a href="profile-authentication.html" class="nav-link">Login/Register</a></li>
        
                                        <li class="nav-item"><a href="privacy-policy.html" class="nav-link">Privacy Policy</a></li>
        
                                        <li class="nav-item"><a href="terms-of-service.html" class="nav-link">Terms of Service</a></li>

                                        <li class="nav-item"><a href="contact-2.html" class="nav-link">Contact Style Two</a></li>

                                        <li class="nav-item"><a href="contact-3.html" class="nav-link">Contact Style Three</a></li>
                                    </ul>
                                </li>

                                <li class="nav-item"><a href="#" class="nav-link active">Portfolio <i class='bx bx-chevron-down'></i></a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a href="#" class="nav-link">Portfolio Style One <i class='bx bx-chevron-right'></i></a>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item"><a href="portfolio-1.html" class="nav-link">Portfolio 2 Columns</a></li>

                                                <li class="nav-item"><a href="portfolio-2.html" class="nav-link">Portfolio 3 Columns</a></li>

                                                <li class="nav-item"><a href="portfolio-3.html" class="nav-link">Portfolio No Space</a></li>
                                            </ul>
                                        </li>

                                        <li class="nav-item"><a href="#" class="nav-link">Portfolio Style Two <i class='bx bx-chevron-right'></i></a>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item"><a href="portfolio-4.html" class="nav-link">Portfolio 2 Columns</a></li>

                                                <li class="nav-item"><a href="portfolio-5.html" class="nav-link">Portfolio 3 Columns</a></li>

                                                <li class="nav-item"><a href="portfolio-6.html" class="nav-link">Portfolio No Space</a></li>
                                            </ul>
                                        </li>

                                        <li class="nav-item"><a href="single-portfolio.html" class="nav-link">Portfolio Details</a></li>

                                        <li class="nav-item"><a href="case-studies.html" class="nav-link">Case Studies</a></li>

                                        <li class="nav-item"><a href="case-studies-details.html" class="nav-link active">Case Studies Details</a></li>

                                        <li class="nav-item"><a href="projects.html" class="nav-link">Projects</a></li>

                                        <li class="nav-item"><a href="projects-details.html" class="nav-link">Projects Details</a></li>
                                    </ul>
                                </li>

                                <li class="nav-item"><a href="#" class="nav-link">Blog <i class='bx bx-chevron-down'></i></a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a href="blog-1.html" class="nav-link">Grid (2 in Row)</a></li>

                                        <li class="nav-item"><a href="blog-2.html" class="nav-link">Grid (3 in Row)</a></li>

                                        <li class="nav-item"><a href="blog-3.html" class="nav-link">Grid (Full Width)</a></li>

                                        <li class="nav-item"><a href="blog-4.html" class="nav-link">Right Sidebar</a></li>

                                        <li class="nav-item"><a href="blog-5.html" class="nav-link">Left Sidebar</a></li>

                                        <li class="nav-item"><a href="blog-style-2.html" class="nav-link">Blog Style Two</a></li>

                                        <li class="nav-item"><a href="blog-style-3.html" class="nav-link">Blog Style Three</a></li>

                                        <li class="nav-item"><a href="#" class="nav-link">Single Post <i class='bx bx-chevron-right'></i></a>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item"><a href="single-blog-1.html" class="nav-link">Default</a></li>
                                                
                                                <li class="nav-item"><a href="single-blog-2.html" class="nav-link">With Video</a></li>
                                                
                                                <li class="nav-item"><a href="single-blog-3.html" class="nav-link">With Image Slider</a></li>

                                                <li class="nav-item"><a href="blog-details-2.html" class="nav-link">Blog Details Two</a></li>

                                                <li class="nav-item"><a href="blog-details-3.html" class="nav-link">Blog Details Three</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
                            </ul>

                            <div class="others-option d-flex align-items-center">
                                <div class="option-item">
                                    <form class="search-box">
                                        <input type="text" class="input-search" placeholder="Search here..">
                                        <button type="submit">
                                            <i class='bx bx-search'></i>
                                        </button>
                                    </form>
                                </div>
                                <div class="option-item">
                                    <a href="#" class="default-btn">Get a quote</a>
                                </div>
                                <div class="option-item">
                                    <div class="switch-box">
                                        <label id="switch" class="switch">
                                            <input type="checkbox" onchange="toggleTheme()" id="slider">
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>

            <div class="others-option-for-responsive">
                <div class="container">
                    <div class="dot-menu">
                        <div class="inner">
                            <div class="circle circle-one"></div>
                            <div class="circle circle-two"></div>
                            <div class="circle circle-three"></div>
                        </div>
                    </div>
                    
                    <div class="container">
                        <div class="option-inner">
                            <div class="others-option d-flex align-items-center">
                                <div class="option-item">
                                    <form class="search-box">
                                        <input type="text" class="input-search" placeholder="Search here..">
                                        <button type="submit">
                                            <i class='bx bx-search'></i>
                                        </button>
                                    </form>
                                </div>
                                <div class="option-item">
                                    <a href="#" class="default-btn">Get a quote</a>
                                </div>
                                <div class="option-item">
                                    <div class="switch-box">
                                        <label id="switch" class="switch">
                                            <input type="checkbox" onchange="toggleTheme()" id="slider">
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Navbar Area -->
        
        <!-- Start Page Banner Area -->
        <section class="page-banner-area">
            <div class="container">
                <div class="page-banner-content">
                    <h1>Case studies details</h1>
                    <ul class="list">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>/</li>
                        <li>Case studies details</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- End Page Banner Area -->

        <!-- Start Case Study Details Area -->
        <div class="case-study-details-area ptb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 colmd-12">
                        <div class="case-study-details-desc">
                            <div class="content">
                                <h3>IT company development and make easy</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit repellat, voluptatibus eveniet natus porro autem laborum sin molestiae explicabo consectetur ad laboriosam nostrum aliquid ducimus. vel et vitae nam aperiam nostrum it is a long established fact that a reader will be distracted.</p>
                            </div>
                            <div class="image">
                                <img src="assets/img/startup-it-agency/case-study-details1.jpg" alt="image">
                            </div>
                            <div class="content">
                                <h3>Important facts</h3>
                                <p>There are many variations of passages of lorem ipsum available but the majority have suffered alteration  some form by injected humour, or randomised words which don't look even slightly believable if you are going to use a passage ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit voluptates odio omnis dolor numquam dignissimos enim assumenda itaque nemo tenetur dolores incidunt, animi quo quae odit corporis, nihil architecto inventore placeat repellat dolore magna aliqua.</p>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="case-block-image">
                                        <img src="assets/img/startup-it-agency/case-study-details2.jpg" alt="image">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="case-block-image">
                                        <img src="assets/img/startup-it-agency/case-study-details3.jpg" alt="image">
                                    </div>
                                </div>
                            </div>
                            <div class="content bottom-zero">
                                <h3>IT service specialist</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit voluptates odio omnis dolor numquam dignissimos enim assumenda itaque nemo tenetur dolores incidunt animi quo quae odit corporis nihil architecto inventore placeat repellat dolore magna aliqua.</p>
                                <ul class="list">
                                    <li><i class='bx bx-check'></i> Lorem ipsum dolor, sit amet.</li>
                                    <li><i class='bx bx-check'></i> Amet consectetur adipisicing elit officia odit!</li>
                                    <li><i class='bx bx-check'></i> Aquaerat ipsa quis possimus.</li>
                                    <li><i class='bx bx-check'></i> Lorem, ipsum dolor sit amet consectetur adipi.</li>
                                    <li><i class='bx bx-check'></i> Tighten Internal Controls</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12">
                        <div class="startup-it-agency-sidebar-area">
                            <div class="sidebar sidebar_search">
                                <form class="search-form">
                                    <input type="search" class="search-field" placeholder="Search...">
                                    <button type="submit"><i class='bx bx-search-alt'></i></button>
                                </form>
                            </div>

                            <div class="sidebar sidebar_categories">
                                <h3 class="sidebar-title">Categories</h3>
                                
                                <ul class="categories-list">
                                    <li><a href="#"><i class='bx bx-chevron-right'></i> Consultancy</a></li>
                                    <li><a href="#"><i class='bx bx-chevron-right'></i> Development</a></li>
                                    <li><a href="#"><i class='bx bx-chevron-right'></i> Support</a></li>
                                    <li><a href="#"><i class='bx bx-chevron-right'></i> Security</a></li>
                                    <li><a href="#"><i class='bx bx-chevron-right'></i> UX/UI design</a></li>
                                    <li><a href="#"><i class='bx bx-chevron-right'></i> Marketing</a></li>
                                </ul>
                            </div>

                            <div class="sidebar sidebar_contact">
                                <h3 class="sidebar-title">Contact us</h3>

                                <form>
                                    <div class="form-group">
                                        <input type="text" name="text" class="form-control" placeholder="Your name">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="text" class="form-control" placeholder="Your email">
                                    </div>
                                    <div class="form-group">
                                        <textarea name="text" class="form-control" placeholder="Your message"></textarea>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <button type="submit" class="submit-btn">Send now</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Case Study Details Area -->

        <!-- Start Footer Area -->
        <footer class="footer-area it-footer-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <a href="index.html" class="logo">
                                <img src="assets/img/white-logo.png" alt="logo">
                            </a>
                            <p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit eiusmod tempor incididunt labore dolore magna aliqua consec elite sed do labor.</p>
                            <ul class="social-link">
                                <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                                <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                                <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                                <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="single-footer-widget ps-5">
                            <h3>Other pages</h3>

                            <ul class="footer-links-list">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About us</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Projects</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="single-footer-widget ps-5">
                            <h3>Helpful links</h3>

                            <ul class="footer-links-list">
                                <li><a href="#">Marketing strategy</a></li>
                                <li><a href="#">Interior design</a></li>
                                <li><a href="#">Digital services</a></li>
                                <li><a href="#">Product design</a></li>
                                <li><a href="#">Social marketing</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="single-footer-widget ps-5">
                            <h3>Support</h3>

                            <ul class="footer-links-list">
                                <li><a href="#">Privacy policy</a></li>
                                <li><a href="#">Terms & uses</a></li>
                                <li><a href="#">Support center</a></li>
                                <li><a href="#">Community</a></li>
                                <li><a href="#">FAQ</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget ps-5">
                            <h3>Official info</h3>

                            <ul class="footer-contact-info">
                                <li>
                                    <i class='bx bx-map'></i>
                                    <span>Location:</span>
                                    2976 sunrise road las vegas
                                </li>
                                <li>
                                    <i class='bx bx-envelope'></i>
                                    <span>Email:</span>
                                    <a href="mailto:hello@dibiz.com">hello@dibiz.com</a>
                                </li>
                                <li>
                                    <i class='bx bxs-phone'></i>
                                    <span>Phone:</span>
                                    <a href="tell:098765432150">098765432150</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-bottom-area">
                <p>All right reserved design by <a href="https://envytheme.com/" target="_blank">EnvyTheme.com</a></p>
            </div>
        </footer>
        <!-- End Footer Area -->

        <div class="go-top"><i class='bx bx-up-arrow-alt'></i></div>

        <!-- Links of JS files -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/bootstrap.bundle.min.js"></script>
        <script src="assets/js/appear.min.js"></script>
        <script src="assets/js/odometer.min.js"></script>
        <script src="assets/js/magnific-popup.min.js"></script>
        <script src="assets/js/fancybox.min.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <script src="assets/js/meanmenu.min.js"></script>
        <script src="assets/js/nice-select.min.js"></script>
        <script src="assets/js/sticky-sidebar.min.js"></script>
        <script src="assets/js/wow.min.js"></script>
        <script src="assets/js/form-validator.min.js"></script>
        <script src="assets/js/contact-form-script.js"></script>
        <script src="assets/js/ajaxchimp.min.js"></script>
        <script src="assets/js/main.js"></script>
    </body>
</html>