<!DOCTYPE html>

<head>
  <script src='/js/jquery.min.js'></script>
  <script src='/js/hello.js'></script>
</head>
<meta charset="UTF-8">
<title>hello</title>
</head>

<body>
  <div>
    <p>1.添加到数据库</p>
    <label for="name">姓名：</label>
    <input id="name" type="text" />
    <br>
    <br>
    <label for="age">年龄：</label>
    <select id="age">
      <option value="20" check="checked">20</option>
      <option value="25">25</option>
      <option value="30">30</option>
    </select>
    <br>
    <br>
    <label for="">爱好：</label>
    <p>
      <input type="checkbox" name="interest" value="游戏" />游戏<br>
      <input type="checkbox" name="interest" value="动漫" checked />动漫<br>
      <input type="checkbox" name="interest" value="音乐" />音乐<br>
      <input type="checkbox" name="interest" value="电影" />电影<br>
      <input type="checkbox" name="interest" value="爬山" />爬山<br>
    </p>
    <input id="submitBtn" type="submit" value="提交" />
    <br>
    <br>
    <p>2.通过id删除数据</p>
    <label for="idDel">ID：</label>
    <input id="idDel" type="text" />
    <input id="idDelBtn" type="submit" value="删除" />
    <br>
    <br>
    <p>3.通过id修改姓名</p>
    <label for="idUpdate">ID：</label>
    <input id="idUpdate" type="text" />
    <br>
    <label for="nameUpdate">姓名：</label>
    <input id="nameUpdate" type="text" />
    <input id="nameUpdateBtn" type="submit" value="修改" />
    <br>
    <br>
    <p>4.通过name查询数据</p>
    <label for="nameSelect">姓名：</label>
    <input id="nameSelect" type="text" />
    <input id="nameSelectBtn" type="submit" value="查找" />
    <br>
    <br>
    <hr>



    <p>1.input文本提交</p>
    <input id="input1" type="text" />
    <input id="submit1" type="submit" value="提交" />
    <br>
    <br>
    <p>2.下拉框提交</p>
    <label for="dropdown">选择一个选项：</label>
    <select id="dropdown">
      <option value="1" check="checked">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
    </select>
    <input id="submit2" type="submit" value="提交" />
    <br>
    <br>
    <p>3.多选框ajax提交</p>
    <p>
      <input type="checkbox" name="number1" value="1" />1<br>
      <input type="checkbox" name="number1" value="2" checked />2<br>
      <input type="checkbox" name="number1" value="3" />3<br>
      <input type="checkbox" name="number1" value="4" />4<br>
      <input type="checkbox" name="number1" value="5" />5<br>
    </p>
    <input id="submit3" type="submit" value="提交" />
  </div>
  <br>
  <br>
  <p>4.多选框form提交</p>
  <form method="post" action="http://localhost:8080/helloForm">
    <p>
      <input type="checkbox" name="number2" value="1" />1<br>
      <input type="checkbox" name="number2" value="2" checked />2<br>
      <input type="checkbox" name="number2" value="3" />3<br>
      <input type="checkbox" name="number2" value="4" />4<br>
      <input type="checkbox" name="number2" value="5" />5<br>
    </p>
    <input id="submit4" type="submit" value="提交" />
    <p th:text="${data}"></p>
  </form>
  <br>
  <p>5.上传图片</p>
  <div>
    <input type="file" id="imageFile" />
    <input type="submit" id="upload" value="上传" />
    <img src="" />
  </div>
</body>

</html>