<!DOCTYPE html>
<head>
	<script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
	<script src='/js/study2.js'></script>
	<link rel="stylesheet" type="text/css"  href='/css/study2.css'></link>
<meta charset="UTF-8">
<title>株式会社REI作业</title>
</head>
<div >
    <p style="background-color:#66CC99; color:#993300; height:30px; line-height:30px;">画面要求：</pstyle="background-color:#66CC99; color:#993300; height:30px; line-height:30px;">
    <ol>
        <li><a target="_blank">画面上要两个入力框</a></li>
         <li><a target="_blank">一个按钮（用于查询）</a></li>
       <li><a  target="_blank">一个表格（数据展示）</a></li>
        <li><a target="_blank">css：（样式不限）</a></li>
    </ol>
</div>
<br>
<br>
<div>
<strong>年纪：</strong><input id="stuNianji"></input>
<button id="query">查询</button>
<br>
<strong>姓名：</strong><input id="stuName"></input>
<button id="delete">删除</button>
</div>
<br>
<div >
  <table id="stuTable">
  <tr>
	<th>ID</th>
    <th>姓名</th>
    <th>性别</th>
    <th>年龄</th>
    <th>年级</th>
  </tr>
</table>	
	
</div>
</body>
</html>