<!DOCTYPE html>
<head>
	<script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
	<script src='/js/xuStudy.js'></script>
	<link rel="stylesheet" type="text/css"  href='/css/xuStudy.css'></link>
</head>
<meta charset="UTF-8">
<title>study</title>
</head>
<div>
年级：<input id="stuNianji"></input>
<button id="query">查询</button>
</div>
<div>
姓名：<input id="stuName"></input>
<button id="delete">delete</button>
</div>
<div >
<table id="stuTable">
  <tr>
	<th>ID</th>
    <th>姓名</th>
    <th>年级</th>
  </tr>
</table>	
	
</div>

<div >
<table id="stuTable1">
  <tr>
	<th>ID</th>
    <th>姓名</th>
    <th>年级</th>
  </tr>
</table>	
	
</div>
</body>
</html>