<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>吉林莉</title>
</head>
<body>
    <h1>吉林莉的网页测试</h1>
     <h2>day03学习内容--2024/01/14</h2>
    <p>数组：数组在创建时需要指定大小，而且大小是固定的。</p>
      
        
        <p> 遍历 通过下标去循环</p>
     
        
            <p> 遍历 增强for循环</p>
       
                <p> 异常处理</p>
   
        
                    <p>实战项目部分</p>
      
    <p>课后作业测试用</p>

    
    <img src="kichi1.png" />

</body>
</html>
